@use "../abstracts" as *;

.get-appointment {
    background-image: url('../../assets/law-firm.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.get-appointment-content {
    position: relative;
    z-index: 2;
}
.get-appointment .h2{ 
    max-width: 42rem;

}
.address_icon { 
    margin-right: 1rem;
}
.phone {
    margin-left: 1.5rem;
    font-size: toRem(18);

}
.text-18 {
    color: $white;
    font-size: toRem(18);
}