@use '../abstracts' as *;

.article {
    max-width: toRem(360);
    background-color: $main-clr;
}
.article .text-14 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.article_content {
    padding: 1.5rem 1rem;
}
.article_img {
    object-fit: cover;
    height: 250px;
    display: block;
    width: 100%;
}
.article_title { 
    font-weight: 500;
}
.text-12 {
    margin: .5rem 0 1rem;
    display: block;
    font-size: toRem(12);
    color: $white;
}