@use "../abstracts" as *;

.upper_section {
    @include flex($direction: column, $justify: center, $align: center);
}
.h2 {
    position: relative;
    color: $secondary-clr;
    font-size: toRem(28);
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 35px;
    @include media(lg) {
        font-size: toRem(34);
    }
}
.h2::before {
    content: url('assets/scale.svg');
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    color: $secondary-clr;
    z-index: -1;
}
.sub-h2 {
    color: $main-clr;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px , 1fr));
    gap: 15px;
    place-items: center;
    margin: 2.2rem 0;
    @include media(lg) {
        margin-top: 3.4rem;
        grid-template-columns: repeat(3, minmax(280px, 1fr));
    }
}
.grid_item {
    position: relative;
    background-image: url('assets/money.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.in-grid_item{
    color: $white;
    padding: 2.5rem 1.2rem;
    text-align: center;
    position: relative; 
    @include flex($direction: column, $justify: center, $align: center);
}

.in-grid_item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-clr;
    opacity: .8;
    z-index: -1;
    transition: $transition;
}
.in-grid_item:hover::before {
    background-color: $secondary-clr;
}
.in-grid_item i {
    font-size: toRem(35);
    margin-bottom: toRem(10)
}
.header-3 {
    font-size: toRem(24);
    line-height: 1.4;
    color: $white;
    font-weight: 500;
    margin-bottom: toRem(6)
}
.text-14 {
    font-size: toRem(14);
    // max-width: 80%;
    color: $white;
}
