@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
.container {
    padding-left: toRem(24);
    padding-right: toRem(24);
    margin-right: auto;
    margin-left: auto;
    // include the max-width of the container
    max-width: $container-max-width;
}
.flex-r {
    @include flex($direction: row, $justify: space-between, $align: center);
}
.flex-c {
    @include flex($direction: column, $justify: space-between, $align: center);
}
::selection {
    color: $white;
    background-color: lighten($color: $main-clr, $amount: 10%)
}
:focus-visible {
    outline: .2em dashed $main-clr;
    outline-offset: .2em;
}
.section {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    @include media(lg) {
        padding-bottom: toRem(80);
    }
}
.no-scroll {
    overflow: hidden;
}