//  ======================  Variables  ======================
// Colors
$main-clr: #203351;
$secondary-clr: #b19760;
$secondary_bg: #f5f5f5;
$white: #f5f5f5;
$black: #000;

// Width 
$width: 100%;
$container-max-width: 1024px;

// Padding 
$padding-top: 6rem;
$padding-bottom: 7rem;
$padding-left: 5%;
$padding-right: 5%;

// Fonts 
$main-font-family: "Poppins", sans-serif;

// Transitions
$transition: .3s ease;